node_modules/

packages/backend/assets/dependencies/**/*.js
packages/backendviews/**/*.ejs
packages/backend/node_modules

packages/frontend/node_modules/
packages/frontend/pubilc/
packages/frontend/build/
